<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletPool</servlet-name>
        <servlet-class>com.practicas.web.ServletPool</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletJDBC</servlet-name>
        <servlet-class>com.practicas.web.ServletJDBC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSleep</servlet-name>
        <servlet-class>com.practicas.web.ServletSleep</servlet-class>
        <async-supported>true</async-supported>
    </servlet>
    <servlet>
        <servlet-name>ServletChat</servlet-name>
        <servlet-class>com.practicas.web.ServletChat</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletPool</servlet-name>
        <url-pattern>/ServletPool</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletJDBC</servlet-name>
        <url-pattern>/ServletJDBC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSleep</servlet-name>
        <url-pattern>/ServletSleep</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletChat</servlet-name>
        <url-pattern>/ServletChat</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>buscar.jsp</welcome-file>
    </welcome-file-list>
</web-app>
