<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <description>Color</description>
        <param-name>COLOR</param-name>
        <param-value>#292b98</param-value>
    </context-param>
    <listener>
        <description>ServletContextListener, HttpSessionListener, RequestListener</description>
        <listener-class>com.practicas.web.ServletListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>ServletPrincipal</servlet-name>
        <servlet-class>com.practicas.web.ServletPrincipal</servlet-class>
        <init-param>
            <description>timeout</description>
            <param-name>timeout</param-name>
            <param-value>20</param-value>
        </init-param>
        <init-param>
            <description>color_invitado</description>
            <param-name>color_invitado</param-name>
            <param-value>#F5DA81</param-value>
        </init-param>
        <init-param>
            <description>ROL</description>
            <param-name>rol</param-name>
            <param-value>invitado</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>ServletLoginExitoso</servlet-name>
        <servlet-class>com.practicas.web.ServletLoginExitoso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLogout</servlet-name>
        <servlet-class>com.practicas.web.ServletLogout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletPrincipal</servlet-name>
        <url-pattern>/ServletPrincipal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLoginExitoso</servlet-name>
        <url-pattern>/ServletLoginExitoso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLogout</servlet-name>
        <url-pattern>/ServletLogout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
